@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --color-principal: rgb(125, 52, 63);
    --color-principal-hover: rgb(103, 42, 51);
    --color-blanco: #ffffff;
    --color-gris: #333;
    --color-gris-claro: rgb(216, 216, 216);
    --gradiente:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --sombra: 0 0 13px 0 rgba(185,185,185, .25);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-hero{
    font-size: 1em;
    font-weight: 100;
    padding:10px 20px;
    border-radius: 10px;
    background-color:var(--color-principal);
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn-hero:hover{
    background-color:var(--color-principal-hover);
    
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color:var(--color-principal);
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 2;
}
.container-navbar{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo{
    height: 50%;
    margin-left: 40px;
}
.navbar-menu{
    display: flex;
    justify-items: center;
    gap:60px;
   
}
.navbar-menu a{
    color:var(--color-blanco);
    font-weight: 300;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(160, 159, 159);
}
.navbar-menu a:hover{
    color: var(--color-gris);
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    height: 90vh;
    background-image: var(--gradiente), url(../media/balanza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#hero h1{
    color: beige;
    font-size: 50px;
    font-weight: 300;
}
#hero .palabra{
    font-weight: bold;
    color: var(--color-principal);
}
#areas .container{
 text-align: center; 
 padding:  200px 12px;  
}

.color-acento{
    color:var(--color-principal);
}
.titulo-areas{
    text-align: center;
    margin: 40px;
}
.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-img{
    background-color: black;
    height: 200px;
    border-radius: 30px 30px 0 0 ;
   
}
.card{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 700px;
    background-color:#dedddd ;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.card:hover{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}
.btn-card{
    margin-top: auto;
    align-self: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color:var(--color-principal);
    color: #ffffff;
    border-radius: 0 0 30px 30px;
}
.info-card{
    padding: 40px;
    margin-top: 20px;
}
.card h3{
    margin-bottom: 20px;
    font-weight: bold;
}
.info-card p{
    font-weight: 300;
    font-size: 14px;
}
.card-1{
    background-image: url(../media/foto-abogado-civilista-negociacion-unir.jpeg);
    background-position: center;
    background-size: cover;
}
.card-2{
    background-image: url(../media/abogado-penalista.jpeg);
    background-position: center center;
    background-size: cover;
}
.card-3{
    background-image: url(../media/abogado-laboral.jpeg);
    background-position: center center;
    background-size: cover;
}
.card-4{
   background-image: url(../media/abogado-familia.jpeg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.container-nosotros{
    margin: 40px 0 40px 0;
}
.nosotros-img{

    background-color: aqua;
    height: 400px;
    margin: 0 0px 40px 0;
    background-image: var(--gradiente),url(..../media/somos_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}
/*============================*/
/*========Team==========*/
/*============================*/
.container-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
.card-team{
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgb(0,0,0,0.5);
    background-color: var(--color-principal);
    height: 600px;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    
}
.team-info{
    margin-top: 20px;
   text-align: center;
   
   color: var(--color-blanco);
}
.team-img{
    background-color: black;
    height: 500px;
    
}
.team-1{
    background-image: url(../media/caro_3.jpg);
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
 
   
}

.team-2{
    border-radius: 20px 20px 0 0;
    background-image: url(../media/kary_3.jpg);
    background-size: cover;
    background-position: center;
}
.card-team h3{
    font-weight: bold;
}
.card-team h4{
    font-weight: 300;
}

.nosotros-info{
    padding: 40px;
}
.nosotros-info h2{
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-principal);
}
.nosotros-info p{
    font-style: italic;
    justify-content: center;
}
#container-testimonio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradiente), url(../media/manos.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.container-testimonio{
  
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonio-content .image{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonio-content .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.slide p{
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-blanco);
}
.slide .quote-icon{
    font-size: 30px;
    color: var(--color-principal);
}
.slide .detalles{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.detalles .name{
    font-size: 14px;
    font-weight: 600;
    color:var(--color-principal)
}
.detalles .job{
    font-size: 12px;
    font-weight: 400;
    color:var(--color-principal)
}
/*============================*/
/*========categorias==========*/
/*============================*/

#preguntas{
    max-width: 1000px;
    width: 90%;
    margin: 10px auto;
    background-color: var(--color-blanco);  
    padding: 20px;
}
#preguntas .titulo{
    color: var(--color-principal);
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}
.container-categorias-preguntas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 60px;
    
}
.categoria{
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-blanco);
    font-weight: 700;
    color: var(--color-gris);
    border: 1px solid transparent;
}
.categoria:hover{
    box-shadow: var(--sombra);
    color: var(--color-principal);
}
.categoria:hover path{
   fill: var(--color-principal);

}
.categoria svg{
    width: 64px;
    margin-bottom: 10px; 
}
.categoria path{
    fill: var(--color-gris-claro);
    transition: .3s ease all;
}
.categoria.activa{
    border: 2px solid var(--color-principal);
}
.categoria.activa path{
   fill: var( --color-principal );
}
.pregunta img{ 
    width: 20px;
}

/*preguntas*/

.contenedor-preguntas{
    display: none;
    grid-template-columns: 1fr;
    gap: 40px;
}
.contenedor-preguntas.activo{
    display: grid;
}
.contenedor-pregunta{
    background-color: #ffffff;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor-pregunta:hover{
    box-shadow: var(--sombra);
}

.contenedor-pregunta.activa{
    border: 2px solid var(--color-principal);    
}

/*! ===================================*/
/*! ============= Preguntas ===========*/
/*! ===================================*/

.pregunta svg{
    width: 24px;
    margin-bottom: 10px;
   fill: var(--color-principal); 
}
.pregunta svg:hover{
    cursor: pointer;
}
.pregunta{
   font-weight: 700;
   font-size: 20px;
   color: var(--color-principal);
   line-height: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.respuesta{
    color: var(--color-gris);
    font-style: italic;
    line-height: 33px;
    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta{
  opacity: 1;
  margin-top: 20px;
}
.contenedor-pregunta.activa .pregunta svg{
    transform: rotate(45deg);
}
/*======================================*/
/*===========Contacto=====================*/
/*======================================*/

.container-contacto{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-principal);
    background:var(--gradiente), url(/media/hammer-719066_1920.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container-contacto h2{
    color: var(--color-blanco);
    text-align: center;
}
.formulario{
    padding: 30px;
    width: 40%;
    border: 1px solid var(--color-blanco);
    border-radius: 20px;
    margin: 20px;
}
.formulario .grupo, label{
display: flex;
flex-direction: column;
margin-bottom: 10px;
color: var(--color-blanco);
}

form button{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 20px;
    width: 100%;
    border: none;
    margin: 20px 0;
    border-radius: 20px;
}
form button:hover{
    background-color: var(--color-principal-hover);
    cursor: pointer;
}
form input{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-blanco);
}
form textarea{
    padding: 20px;
    border-radius: 20px;
}
.contacto{
    width: 40%;
    height: 590px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-blanco);
    border-radius: 20px;  
}
.contacto-direccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px;
}
.contacto-direccion h2{
    margin-bottom: 50px;
}
.contacto-datos{
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-datos h2{
    margin-bottom: 50px;
}
.contacto-datos svg{

   fill:var(--color-blanco);
}
.contacto-datos p{
     color: var(--color-blanco);
     font-size: 12px;
}
.contacto-direccion p{
    color: var(--color-blanco);
    font-size: 12px;
}
/*======================================*/
/*===========Footer=====================*/
/*======================================*/

.container-footer{
    display: flex;
   
    width: 100%;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: var(--color-blanco);
    font-size: 12px;
    padding: 20px;
}
.container-footer h2{
    margin-bottom: 30px;
}
.container-footer a{
    text-decoration: none;
    color: var(--color-blanco);
    margin-top: 20px;
    font-size: 8px;
}

.info-footer{
    margin: 20px;
}
.info-footer h3 h2{
    display: flex;
    align-items: center;
   
}

.info-footer svg{
    fill: var(--color-principal);
    margin-right: 20px;
}
/*======================================*/
/*===========Gracias=====================*/
/*======================================*/


.contenido{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido h1{

    color: var(--color-principal);
}

/*======================================*/
/*=========responsive designed==========*/
/*======================================*/

@media screen and (max-width:820px){
    .container-categorias-preguntas{
        grid-template-columns: 1fr 1fr;
    } 
    .categoria{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px ;
    }
    .categoria svg{
        width: 30px;
        margin-right: 10px;
        margin-bottom: 0;
    }
    .contacto{
        width: 90%;
    }
    .formulario{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    .container-categorias-preguntas{
        grid-template-columns: 1fr;
    } 
 
  
}
